/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
header {
  width: 100%;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-icon {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 0px 10px;
}
header img {
  width: 41px;
  height: 36px;
}
header h2,
h4 {
  padding: 0px 10px;
}
.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 15px;
  padding: 36px;
  justify-content: center;
}
.form-button {
  grid-column: -1 / 1;
  border-radius: 5px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  font-size: 20px;
}
.form-input {
  border-radius: 5px;
}
.meme {
  position: relative;
}

.meme--image img {
  max-width: 100%;
}
.meme-block {
  position: relative;
  width: max-content;
  margin: auto;
}
.meme--text {
  position: absolute;

  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}
.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
